.App {
  margin: 0px;
  padding: 0px;
  min-width: 100vh;
  background-image: radial-gradient(at top left, transparent 67%,#fff 67.1%),linear-gradient(135deg, #070707 0%, #1b1e24 100%);
  background-size: 120% 100%, cover;
  background-repeat: no-repeat;
  margin: 0;
  max-height: 200vh;
  transition: all 0.3s ease-in;
}

body{
  overflow-x:auto;
}