.App {
  background-image: radial-gradient(at top left, transparent 67%,#fff 67.1%),linear-gradient(135deg, #070707 0%, #1b1e24 100%);
  background-size: 120% 100%, cover;
  background-repeat: no-repeat;
  max-height: 200vh;
  transition: all 0.3s ease-in;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

@media only screen and (max-width:480px) {
  .App{
    max-height: 130vh;
    width: 600px;
  }
  .heading > h3{
    color:black;
  }
  .headerItems > div, .brand{
    scale: 0.5;
  }
  .skillset{
    width:200px;
    height: 100px;
    display: flex;
    flex-direction: column;
 }
 .sidebar{
      max-height: 600px;
 }

}
